<!doctype html>
<html>
<head>
<title>Get a cup of coffee</title>
</head>
<body>
<header>
<div id="logo"><img src="/img/butler_logo.png"></div>
</header>
<div id="content">
{{{body}}}
</div>
</body>
</html>
